.wrapper {
    position: relative;
    display: inline-block;
}

.image {
    display: block;
    max-width: 100%;
}

.heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-weight: bold;
}

.heading-link {
    color: black;
}